{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="auth-page d-flex justify-content-center align-items-center">
  <div class="col-md-5">
    <div class="card p-4 shadow-sm">
      <h2 class="h5 mb-2 text-center">Set new password</h2>

      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary w-100 mt-2">
          Reset password
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
